[tool.ruff]
line-length = 120
target-version = "py310"

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "D103",    # Missing docstring in public function
    "ANN101",  # Missing type annotation for self
    "T201",    # Allow print()
    "RUF001", "RUF002", "RUF003", # Ambiguous cyrillic characters
    "D212", "D213", # Docstring summary position
    "ERA001",  # Commented-out code
    "COM812",  # Trailing comma (conflict with formatter)
    "ANN204",  # Missing return type for special methods (__init__)
]

[tool.ruff.lint.per-file-ignores]
"tests/*" = [
    "S101",    # Use of assert detected
    "ANN201",  # Missing return type for public function
    "PLR2004", # Magic value used in comparison
    "D100",    # Missing docstring in public module
    "D104",    # Missing docstring in __init__.py of the tests folder
    "ANN001",  # Mocks' arguments can be untyped.
]

[tool.pytest.ini_options]
pythonpath = ["."]
testpaths = ["tests"]